* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.view1 {
  max-width: 1300px;
}

.view2 {
  max-width: 1300px;
}

.view3 {
  max-width: 1300px;
}

.view4 {
  max-width: 1300px;
}

.view5 {
  max-width: 1300px;
}

.view6 {
  max-width: 1300px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .view1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  background: linear-gradient(#F4F8FC, #FBE4ED);
}
main .view1 .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  padding: 1rem;
}
main .view1 .top img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view1 .top h1 {
  font-size: 2.8rem;
  text-align: center;
  font-weight: 700;
  line-height: 1;
}
main .view1 .bottom {
  padding: 1rem;
  width: 100%;
  font-size: 2.1rem;
  text-align: center;
}
main .view2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  align-items: flex-start;
}
main .view2 .card {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2.5rem;
  border-top: 0.2rem solid rgba(47, 41, 41, 0.121);
}
main .view2 .card img {
  width: 100%;
}
main .view2 .card h2 {
  font-size: 1.8rem;
  font-weight: 750;
}
main .view2 .card p {
  font-size: 1.2rem;
  line-height: 1.6;
  opacity: 0.9;
}
main .view3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
main .view3 .top {
  width: 100%;
  padding: 2rem;
}
main .view3 .top img {
  width: 100%;
}
main .view3 .bottom {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .view3 .bottom h4 {
  font-size: 1.2rem;
  opacity: 0.8;
}
main .view3 .bottom h1 {
  font-size: 2.9rem;
  font-weight: 600;
}
main .view3 .bottom p {
  font-size: 1.2rem;
  opacity: 0.7;
  line-height: 1.4;
}
main .view3 .bottom .btn-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
main .view3 .bottom .btn-section button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 2.2rem;
  border-radius: 1.6rem;
  background: transparent;
  border: 0.1rem solid #0F6FD9;
  outline: none;
  color: #0F6FD9;
  font-size: 0.9rem;
  font-weight: 700;
  transition: all 0.5s ease;
}
main .view3 .bottom .btn-section a {
  padding: 0.8rem 2.2rem;
  text-decoration: none;
  color: #222;
  font-weight: 750;
}
main .view3 .bottom .btn-section button:hover {
  background-color: #0F6FD9;
  color: white;
}
main .view4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
main .view4 .top {
  width: 100%;
  padding: 1rem;
}
main .view4 .top img {
  width: 100%;
}
main .view4 .bottom {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .view4 .bottom h4 {
  font-size: 1.2rem;
  opacity: 0.8;
}
main .view4 .bottom h1 {
  font-size: 2.9rem;
  font-weight: 600;
}
main .view4 .bottom p {
  font-size: 1.2rem;
  opacity: 0.7;
  line-height: 1.4;
}
main .view4 .bottom .btn-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
main .view4 .bottom .btn-section button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 2.2rem;
  border-radius: 1.6rem;
  background: transparent;
  border: 0.1rem solid #0F6FD9;
  outline: none;
  color: white;
  background-color: #0F6FD9;
  font-size: 0.9rem;
  font-weight: 700;
  transition: all 0.5s ease;
}
main .view4 .bottom .btn-section a {
  padding: 0.8rem 2.2rem;
  text-decoration: none;
  color: #222;
  font-weight: 750;
}
main .view4 .bottom .btn-section button:hover {
  background-color: #0F6FD9;
  color: white;
}
main .view5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
main .view5 .top {
  width: 100%;
  padding: 1rem;
}
main .view5 .top img {
  width: 100%;
}
main .view5 .bottom {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .view5 .bottom h4 {
  font-size: 1.2rem;
  opacity: 0.8;
}
main .view5 .bottom h1 {
  font-size: 2.9rem;
  font-weight: 600;
}
main .view5 .bottom p {
  font-size: 1.2rem;
  opacity: 0.7;
  line-height: 1.4;
}
main .view5 .bottom .btn-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
main .view5 .bottom .btn-section button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 2.2rem;
  border-radius: 1.6rem;
  background: transparent;
  border: 0.1rem solid #0F6FD9;
  outline: none;
  color: #0F6FD9;
  font-size: 0.9rem;
  font-weight: 700;
  transition: all 0.5s ease;
}
main .view5 .bottom .btn-section a {
  padding: 0.8rem 2.2rem;
  text-decoration: none;
  color: #222;
  font-weight: 750;
}
main .view5 .bottom .btn-section button:hover {
  background-color: #0F6FD9;
  color: white;
}
main .view6 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #FAFBE7;
}
main .view6 .top {
  width: 100%;
  padding: 1rem;
}
main .view6 .top img {
  width: 100%;
}
main .view6 .bottom {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .view6 .bottom h4 {
  font-size: 1.2rem;
  opacity: 0.8;
}
main .view6 .bottom h1 {
  font-size: 2.7rem;
  font-weight: 600;
}
main .view6 .bottom p {
  font-size: 1.2rem;
  opacity: 0.7;
  line-height: 1.4;
}
main .view6 .bottom .btn-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
main .view6 .bottom .btn-section button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 2.2rem;
  border-radius: 1.6rem;
  background: transparent;
  border: 0.1rem solid #0F6FD9;
  outline: none;
  color: white;
  background-color: #0F6FD9;
  font-size: 0.9rem;
  font-weight: 700;
  transition: all 0.5s ease;
}
main .view6 .bottom .btn-section a {
  padding: 0.8rem 2.2rem;
  text-decoration: none;
  color: #222;
  font-weight: 750;
}
main .view6 .bottom .btn-section button:hover {
  background-color: #0F6FD9;
  color: white;
}

@media (min-width: 900px) {
  main .view1 {
    align-items: center;
  }
  main .view1 .top {
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
  }
  main .view1 .top img, main .view1 .top h1 {
    width: 50%;
  }
  main .view1 .top h1 {
    font-size: 4rem;
    text-align: center;
    padding: 4rem;
  }
  main .view1 .bottom {
    width: 70%;
    align-items: center;
    justify-content: center;
  }
  main .view2 {
    flex-direction: row;
  }
  main .view3 {
    flex-direction: row-reverse;
    align-items: center;
    padding: 3rem;
  }
  main .view3 .top, main .view3 .bottom {
    width: 50%;
  }
  main .view3 .bottom .btn-section {
    flex-direction: row;
  }
  main .view4 {
    flex-direction: row;
    align-items: center;
  }
  main .view4 .top, main .view4 .bottom {
    width: 50%;
    padding: 4rem;
  }
  main .view4 .bottom .btn-section {
    flex-direction: row;
  }
  main .view5 {
    flex-direction: row-reverse;
    align-items: center;
    padding: 3rem;
  }
  main .view5 .top, main .view5 .bottom {
    width: 50%;
    padding: 3rem;
  }
  main .view5 .bottom h1 {
    font-size: 3.8rem;
  }
  main .view5 .bottom .btn-section {
    flex-direction: row;
  }
  main .view6 {
    flex-direction: row;
    align-items: center;
  }
  main .view6 .top, main .view6 .bottom {
    width: 50%;
    padding: 4rem;
  }
  main .view6 .bottom h1 {
    font-size: 3.5rem;
  }
  main .view6 .bottom p {
    font-size: 1.4rem;
  }
  main .view6 .bottom .btn-section {
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */